.product{
    margin-left:30%;
}

.inputBox{
    padding: 7px;
    display: block;
    border: 1px solid black;
    width: 300px;
    margin:20px;
}

.invalid-input {
    display: block;
    color: red;
    margin-top: -20px;
    margin-left: 20px;
}